:root {
  --white: #ffffff;
  --black: #000000;

  --bg-light: #faf9fb;

  --primary-0: #ffffff;
  --primary-100: #eccffe;
  --primary-200: #d5a0fd;
  --primary-300: #b870f9;
  --primary-400: #9d4cf4;
  --primary-500: #7314ed;
  --primary-600: #590ecb;
  --primary-700: #420aaa;
  --primary-800: #2e0689;
  --primary-900: #200371;

  --secondary-100: #f3f3f3;
  --secondary-200: #e7e7e7;
  --secondary-300: #bababa;
  --secondary-400: #757575;
  --secondary-500: #191919;
  --secondary-600: #151212;
  --secondary-700: #120c0d;
  --secondary-800: #0e0709;
  --secondary-900: #0c0407;

  --success-100: #e7fad1;
  --success-200: #caf6a4;
  --success-300: #a0e673;
  --success-400: #76cd4d;
  --success-500: #41ad1d;
  --success-600: #2c9415;
  --success-700: #1a7c0e;
  --success-800: #0c6409;
  --success-900: #055308;

  --error-100: #ffead3;
  --error-200: #ffcfa6;
  --error-300: #ffae7a;
  --error-400: #ff8e59;
  --error-500: #ff5a23;
  --error-600: #db3c19;
  --error-700: #b72311;
  --error-800: #93100b;
  --error-900: #7a060a;

  --warning-100: #fefbce;
  --warning-200: #fdf89e;
  --warning-300: #faf16e;
  --warning-400: #f5e849;
  --warning-500: #efdd10;
  --warning-600: #cdbc0b;
  --warning-700: #ac9c08;
  --warning-800: #8a7c05;
  --warning-900: #726503;

  --information-100: #cbf9fd;
  --information-200: #97eefc;
  --information-300: #63d9f8;
  --information-400: #3cbff1;
  --information-500: #009ae8;
  --information-600: #0077c7;
  --information-700: #0059a7;
  --information-800: #003f86;
  --information-900: #002d6f;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--bg-light);
  color: var(--secondary-500);
  --webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  //   font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
